@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Teste de retorno tela de login</h1>
@if(TempData["mensagemError"] != null) {
    <div class="field-error">
        @TempData["mensagemError"]
    </div>
}
@if(TempData["mensagemOk"] != null) {
    <div class="field-error">
        @TempData["mensagemOk"]
    </div>
}
